/* 1. External Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
/* 2. Tailwind Framework */
@import "tailwindcss";

/* 3. Custom Local Fonts */
@font-face {
  font-family: 'Kapakana';
  src: url('/fonts/Kapakana-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bonbon';
  src: url('/fonts/Bonbon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karrik';
  src: url('/fonts/Karrik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karrik';
  src: url('/fonts/Karrik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 4. The Design System Variables */
/* theme block = the DNA of the design system */
@theme {
  /* Fonts */
  --font-bonbon: "Bonbon", cursive;
  --font-kapakana: "Kapakana", serif;
  --font-karrik: "Karrik", serif;
  --font-libre: "Libre Baskerville", serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;

  /* Colors */
  --color-black-100: #000000;
  --color-white-100: #FFFFFF;
  --color-primary-green: #123622;
  --color-primary-white: #F6FAE9;
  --color-primary-pink: #FFBDC5;

  /* Animations for smooth UI transitions*/
  --animate-fade-in: fade-in 0.5s ease-out;
}

/* 5. Base Styles - Global Defaults */
/* layer block = decides which CSS rules should be prioritized if there's a conflict */
@layer base {
  body {
    @apply font-karrik antialiased;
  }

  h1, h2, h3 {
    @apply font-kapakana;
  }
}

/* 6. Utility Shortcuts - reusable layout bricks */
@layer utilities {
  /* centers content and prevents it from getting wider than 1440px. */
  .max-width { @apply max-w-[1440px] mx-auto; }
  /* adds responsive horizontal - left and right- padding. */
  .padding-x { @apply sm:px-16 px-6; }
  /* adds vertical padding - top and bottom.*/
  .padding-y { @apply py-4; }
  /* centers children items inside a container. */
  .flex-center { @apply flex items-center justify-center; }
  /* pushes items to opposite ends. */
  .flex-between { @apply flex justify-between items-center;}

  /* component styles */
  /* container for each book result */
  .book-card {
    @apply flex flex-col p-6 justify-center items-start text-primary-white
          bg-primary-pink rounded-3xl cursor-pointer
          hover:bg-primary-green hover:text-primary-pink hover:shadow-xl
          transition-all duration-300;
  }
  /* text box where users type the book title */
  .search-input {
    @apply w-full h-[48px] pl-12 p-4 bg-primary-pink rounded-full
          outline-none text-sm border border-transparent
          focus:border-primary-white transition-all;
  }
  /* primary action button */
  .custom-btn {
    @apply flex flex-row relative justify-center items-center py-3 px-6
          outline-none bg-primary-pink text-primary-white rounded-full
          hover:opacity-90
          active:scale-95 transition-all;
  }
}